<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
      <p>
          <span class="mr-2 font-header">my</span>
          <span class="mr-2 font-header">Lips</span>
          <span class="mr-2 font-header">my</span>
          <span class="mr-2 font-header">Life</span>
      </p>
  </div>
  <div class="col-2"></div>
</div>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8 center">
      <img class="size-image border-image" src="https://img.wongnai.com/p/1920x0/2018/03/23/dd46cee3da9b49ffa1b3213adf3c9746.jpg">
  </div>
  <div class="col-2"></div>
</div>

<div class="row mt-4">
  <div class="col-2"></div>
  <div class="col-8">
      <div class="full-width border-image scroll-detail word-wrap height-input pr-4 pl-4">
          <p>รายละเอียด:</p>
          <p>
              ฟหกฟหกฟหกสาฟวหกฟวหสกาฟวสหากฟวสหากฟวสหากฟวสหากวฟสาหกฟสวหากวสฟหากวฟสหาก
              ฟหกฟหกฟหกสาฟวหกฟวหสกาฟวสหากฟวสหากฟวสหากฟวสหากวฟสาหกฟสวหากวสฟหากวฟสหาก
              ฟหกฟหกฟหกสาฟวหกฟวหสกาฟวสหากฟวสหากฟวสหากฟวสหากวฟสาหกฟสวหากวสฟหากวฟสหาก
              ฟหกฟหกฟหกสาฟวหกฟวหสกาฟวสหากฟวสหากฟวสหากฟวสหากวฟสาหกฟสวหากวสฟหากวฟสหาก
              ฟหกฟหกฟหกสาฟวหกฟวหสกาฟวสหากฟวสหากฟวสหากฟวสหากวฟสาหกฟสวหากวสฟหากวฟสหาก
              ฟหกฟหกฟหกสาฟวหกฟวหสกาฟวสหากฟวสหากฟวสหากฟวสหากวฟสาหกฟสวหากวสฟหากวฟสหาก
          </p>
      </div>
  </div>
  <div class="col-2"></div>
</div>


<!-- <app-shared-component></app-shared-component> -->