.center{
    text-align: center;
}

.size-image{
    width: 65%;
    /* height: 30vw; */
    object-fit: cover;
}

.font-header{
    font-family: 'segoe', 'arial', sans-serif;
    font-size: 200%;
}

.font-header-color{
    color: #b9003e;
}

.border-image{
    border: solid 1px #e2e2e2;
    border-radius: 2%
}

.full-width {
    width: 100%;
}

.height-input {
    height: 15vw;
}

.word-wrap {
    word-wrap: break-word;
}

.scroll-detail {
    overflow: auto;
}

.font-detail {
    font-size: 13px;
}

.color-title {
    color: hotpink;
}

.footer{
    position:fixed;
    bottom:0px;
    background-color:pink;
    width:100%;
}

@font-face {
    font-family: segoe;
    src: url('../../../assets/font/segoe_print.ttf') format("opentype");
  }