<!-- <div>
  <button (click)="onCloseTab()">asdasd</button>
</div> -->

<div class="row">
  <div class="col-1"></div>
  <div class="col-12 col-sm-12 col-md-10">
    <p>
      <span class="mr-2 font-header">my</span>
      <span class="mr-2 font-header color-font">Lips</span>
      <span class="mr-2 font-header">my</span>
      <span class="mr-2 font-header color-font">Life</span>
    </p>
    <p style="color: gray;">กรุณาเลือกสีที่ท่านชอบ</p>
  </div>
  <div class="col-1"></div>
</div>

<div class="row">
  <div class="col-2"></div>
  <div class="col-12 col-sm-12 col-md-12">
    <div class="text-center">
      <div style="display: inline" *ngFor="let item of data">
        <img class="size-image margin-image border-image" [src]="item.color" alt="color" (click)="openProductDetail(item)">
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <img class="border-image full-width" src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1548991563/Rabu%20Rabu/perfect%20lips/project.jpg"
      alt="">
  </div>
  <div class="col-2"></div>
</div>